# Python
__pycache__/
*.py[cod]
*$py.class
app/db/__pycache__/

# Virtual environment
.venv/

# Environment variables
.env

# IDEs
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Test
.pytest_cache/

# Database
*.db
*.sqlite
