@import "tailwindcss";

@theme {
  --color-evergreen:  #132a13;
  --color-hunter:     #31572c;
  --color-fern:       #4f772d;
  --color-palm:       #90a955;
  --color-lime-cream: #ecf39e;
}


@utility custom-scrollbar {
  /* Tamaño de la barra */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  /* Canal de la barra (fondo) */
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Barra de arrastre (thumb) */
  &::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* gray-300 */
    border-radius: 9999px;
  }
  /* Barra de arrastre al pasar el cursor */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8; /* gray-400 */
  }
  /* Soporte para Firefox */
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
